RAILS_ENV={{rails_env}}
SECRET_KEY_BASE={{vault_app_secret_key_base}}

CONTENT_SOURCE_DIR={{content_dir}}
APP_DIR={{app_dir}}/current

THUMBOR_URL=http://{{ thumbor_host }}
THUMBOR_SECURITY_KEY={{ vault_thumbor_security_key }}
