#!/usr/bin/env bash

export AWS_CONFIG_FILE=/var/lib/postgresql/.aws/config

FILES_DIR="{{ app_uploads_dir }}"
S3BUCKET="{{ aws_bucket_name }}"

# Sync images to AWS
/usr/local/bin/aws s3 sync ${FILES_DIR} s3://${S3BUCKET}/uploads

# Test result of last command run
if [ "$?" -ne "0" ]; then
    echo "Upload to AWS failed"
    exit 1
fi

exit 0
